<ion-content class="content">
  <div class="padding">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref=""></ion-back-button>
      </ion-buttons>
    <br><br><br><br>
    <ion-item >
      <ion-label color="light">Pseudo*</ion-label>
      <ion-input color="light" [(ngModel)]="dataUser.pseudo" type="text" placeholder="Pseudonyme" ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light">Email*</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email" [(ngModel)]="dataUser.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe*</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe" [(ngModel)]="dataUser.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Confirmer Mot de passe*</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe" [(ngModel)]="dataUser.confirmPassword"></ion-input>
    </ion-item>

    <ion-item>
      <div>
        <ion-checkbox  color="light" [(ngModel)]="dataUser.cgu"></ion-checkbox>
      </div>
      <ion-tab-button  color="medium" tab="cgu">J'accepte les Conditions Générales d'Utilisation</ion-tab-button>
    </ion-item>
    <br>
    <ion-button color="tertiary" expand="block" shape="round" (click)="signUp()">Valider Inscription</ion-button>
    <br><br>
  </div>
</ion-content>
