<ion-header>

</ion-header>

<ion-content class="content">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="../../assets/icon/orange/chevron_left_24px_outlined-2.svg" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
            <span id="title">Param&egrave;tres</span>
        </ion-title>
      </ion-toolbar>
       <div class="padding">
    Notifications
    <ion-list>
        <ion-item>
          <ion-label>Spirit</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Curiosity</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Opportunity</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    <br>
    Performance
    <ion-list>
        <ion-item>
            <ion-label>Animations</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>
    </ion-list>
    
  <h2>Changer de pseudonyme</h2>
  <ion-input type="text" placeholder="Nouveau Pseudonyme" [(ngModel)]="dataUser.pseudo"></ion-input>
  <br>
  <ion-button color="success" expand="block" shape="round" fill="outline" (click)="resetPseudo()">Enregistrer nouveau pseudo</ion-button>

    <h2>Changer de Mot de passe</h2>
  <!--<ion-input type="password"  placeholder="Mot de passe actuel" [(ngModel)]="dataUser.oldPassword"></ion-input>-->
  <br>
  <ion-input type="password" placeholder="Nouveau Mot de passe" [(ngModel)]="dataUser.newPassword"></ion-input>
  <br>
  <ion-button color="success" expand="block" shape="round" fill="outline" (click)="resetPassword()">Enregistrer les modifications</ion-button>
    
  <h2>S&eacute;lectionner un profil</h2>
  
  <ion-list class="list-avatar">
    <ion-avatar>
      <img src="../../assets/profil/rover01.png">
    </ion-avatar>
    <ion-avatar>
      <img src="../../assets/profil/rover02.png">
    </ion-avatar>
    <ion-avatar>
      <img src="../../assets/profil/rover03.jpg">
    </ion-avatar>
    <ion-avatar>
      <img src="../../assets/profil/rover04.png">
    </ion-avatar>
      </ion-list>
  <ion-list class="list-avatar">
    <ion-avatar>
      <img src="../../assets/profil/coincoin01.png">
    </ion-avatar>
    <ion-avatar>
      <img src="../../assets/profil/coincoin02.png">
    </ion-avatar>
    <ion-avatar>
      <img src="../../assets/profil/coincoin03.png">
    </ion-avatar>
    <ion-avatar>
      <img src="../../assets/profil/coincoin04.png">
    </ion-avatar>
      </ion-list>


  <h2>S&eacute;lectionner une langue</h2>
  <ion-list class="list-drapeau">
    <img class="drapeau" src="../../assets/drapeau/francais.png" alt="image">
    <img class="drapeau" src="../../assets/drapeau/anglais.png" alt="image">
  </ion-list>
  <p>
    <ion-button color="dark" expand="block" id="cgu" tab="cgu" fill="clear" [routerLink]="['../a-propos']">
      Conditions g&eacute;n&eacute;rale d&apos;utilisation
    </ion-button>
  </p>
  <p>
    <ion-button color="success" expand="block" shape="round" >Enregistrer les modifications</ion-button>
  </p>
  <p id="suppr" >
    <ion-button (click)="presentAlert()" color="danger" fill="outline" >Supprimer le compte</ion-button>
  </p>
  </div>
</ion-content>