<ion-header>
  <ion-toolbar>
    <ion-title>
      Photos from Rover
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content inset="true">
  <ion-button (click)="getRoverPhotosList()" >Refresh</ion-button>
  <ion-list>
    <ion-list-header color="tertiary">
      <ion-label>Rover Photos List</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let roverdata of roverdataList;let i=index">
      <ion-label>
        <h3>{{roverdata.rover.name}} {{roverdata.earth_date}}</h3>
        <ion-label>
        <img [src]="roverdata.img_src">
        {{roverdata.earth_date}}
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
