<ion-content class="content">
  <div class="padding">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref=""></ion-back-button>
      </ion-buttons>
    <br><br><br><br>
    <br><br><br><br>

    <ion-item >
      <ion-label color="light">Email* :</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <br>
    <ion-button color="tertiary" expand="block" shape="round">Envoyer la demande</ion-button>
  </div>
</ion-content>
