<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="fond-content">
  <img class=etoiles src="../../assets/etoiles.svg" alt="image">
  <div class="container">
    <div class="Titre">
      <span class="Rover">Rover</span>
      <span class="Pocket">Pocket</span>
    </div>
    <div class="mars"></div>
  </div>

</ion-content>