
.spirit{
  padding-left: 5px;
}

.opportunity{
  padding-right: 5px;
}

.curiosity{
  padding-left: 5px;
}

ion-menu {
  --ion-background-color: white;
  --ion-text-color: black;

  ion-toolbar {
    --background: rgb(32, 163, 240);
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
}

.imagesMenu{
  // transform: scale(0.3);
  width: 30px;
}

.labelMenu{
  // margin-left:-25px;
}

ion-icon{
  color: black;
}

ion-title{
  color:white;
}