<ion-header>
  
</ion-header>

<ion-content>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text="Paramètres" icon="../../assets/icon/orange/chevron_left_24px_outlined-2.svg" defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <span id="title">&Agrave; propos</span>
    </ion-title>
  </ion-toolbar>

  <div id="cgu">
    <span class="cgu-title">Conditions Générales d’Utilisation<br></span>
    <span class="cgu-title">1. A propos de nous<br></span>
    La Société COINCOIN INSOLITE, SAS, au capital de 50 000 euros, dont le siège social est à ORVAULT (44114) 213 Route de Rennes, immatriculée au registre du commerce et des sociétés de ORVAULT sous le numéro 123 456 789 représentée par Monsieur Maël DEBON (ci-après la " Société ”).
    La Société propose les services suivants : Fournir une application mobile permettant aux randonneurs de localiser et visiter facilement des lieux insolites autour d'eux.
    <span class="cgu-title"><br>2. Préambule<br></span>
    La Société invite ses Utilisateurs à lire attentivement les présentes Conditions Générales d’Utilisation (ci-après les " CGU "). Les CGU s'appliquent à tous les Services fournis par la Société à ses Utilisateurs d'une même catégorie, quelles que soient les clauses pouvant être inscrites sur les documents de l'Utilisateur.
    Les CGU sont systématiquement communiquées à l'Utilisateur qui en fait la demande.
    <span class="cgu-title"><br>3. Définitions<br></span>
    " Conditions Générales d'Utilisation " ou " CGU " désigne les présentes conditions générales d'utilisation en ligne ;
    " Services " désigne toutes les prestations de service proposées aux Utilisateurs par la Société à travers la présente Application ;
    " Application " désigne la présente Application, c’est-à-dire coincoininsolite.fr;
    " Société " désigne la Société CoinCoin Insolite, plus amplement désignée à l'article I des présentes ; et
    " Utilisateur " désigne toute personne qui fait utilisation de l'Application.
    <span class="cgu-title"><br>4. Inscription<br></span>
    L’inscription à l'Application est ouverte à toutes les personnes morales ou physiques.
    L’utilisation des Services proposés sur l'Application est conditionnée à l’inscription de l’Utilisateur sur l'Application. L’inscription est gratuite.
    Pour procéder à l’inscription, l’Utilisateur doit remplir tous les champs obligatoires, sans lesquels le service ne peut être délivré. A défaut l’inscription ne pourra être complétée.
    Les Utilisateurs garantissent et déclarent sur l'honneur que toutes les informations communiquées sur l'Application, notamment lors de leur inscription, sont exactes et conformes à la réalité. Ils s’engagent à mettre à jour leurs informations personnelles à partir de la page dédiée à ces dernières et disponible dans leur compte.
    Tout Utilisateur enregistré dispose d’un identifiant et d’un mot de passe. Ces derniers sont strictement personnels et confidentiels et ne devront en aucun cas faire l’objet d’une communication à des tiers sous peine de suppression du compte de l’Utilisateur enregistré contrevenant. Chaque Utilisateur inscrit est personnellement responsable du maintien de la confidentialité de son identifiant et de son mot de passe. La Société ne sera en aucun cas tenue pour responsable de l’usurpation d’identité d’un Utilisateur. Si un Utilisateur suspecte une fraude à n’importe quel moment, il devra contacter la Société dans les plus brefs délais afin que cette dernière puisse prendre les mesures nécessaires et régulariser la situation.
    Chaque Utilisateur, qu’il soit une personne morale ou physique, ne peut être titulaire que d’un compte sur l'Application.
    En cas de non-respect des CGU, notamment la création de plusieurs comptes pour une seule personne ou encore la fourniture de fausses informations, la Société se réserve le droit de procéder à la suppression temporaire ou définitive de tous les comptes crées par l’Utilisateur enregistré contrevenant.
    La suppression du compte entraîne la perte définitive de tous les avantages et services acquis sur l'Application.
    En cas de suppression d’un compte par la Société pour manquement aux devoirs et obligations énoncées dans les CGU, il est formellement interdit à l’Utilisateur contrevenant de se réinscrire sur l'Application directement, par le biais d’une autre adresse électronique ou par personne interposée sans l’autorisation expresse de la Société.
    <span class="cgu-title"><br>5. Prestation de service<br></span>
    Les Services faisant l’objet des CGU sont ceux qui figurent sur l'Application et qui sont proposés directement par la Société ou ses prestataires partenaires.
    Les services sont décrits sur la page correspondante au sein de l'Application et mention est faite de toutes leurs caractéristiques essentielles. La Société ne peut être tenue responsable de l’impossibilité de réaliser ladite prestation lorsque l’Utilisateur n’est pas éligible.
    <span class="cgu-title"><br>6. Traitement des données personnelles<br></span>
    L'enregistrement sur l'Application entraîne le traitement des données à caractère personnel de l'Utilisateur. Si l'Utilisateur refuse le traitement de ses données, il lui est demandé de s'abstenir d’utiliser l'Application.
    Ce traitement des données à caractère personnel se fait dans le respect du Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016.
    Par ailleurs, conformément à la loi Informatique et Libertés du 6 janvier 1978, l'Utilisateur dispose, à tout moment, d'un droit d'interrogation, d'accès, de rectification, de modification et d'opposition à l'ensemble de ses données personnelles en écrivant, par courrier et en justifiant de son identité, à l'adresse suivante : support@coincoininsolite.fr.
    Ces données personnelles sont nécessaires à l'amélioration des fonctionnalités de l'Application.
    <span class="cgu-title"><br>7. Partage des données collectées<br></span>
    L'Application peut avoir recours à des sociétés tierces pour effectuer certaines opérations. En naviguant sur l'Application, l'Utilisateur accepte que des sociétés tierces puissent avoir accès à ses données pour permettre le bon fonctionnement de l'Application.
    Ces sociétés tierces n'ont accès aux données collectées que dans la cadre de la réalisation d'une tâche précise.
    L'Application reste responsable du traitement de ces données.
    Par ailleurs, l'Utilisateur peut donc être amené à recevoir des informations ou des offres commerciales de la part de la Société ou de ses partenaires.
    L'Utilisateur peut à tout moment s'opposer à la réception de ces offres commerciales, en écrivant à l'adresse de la Société indiquée ci-dessus, ou en cliquant sur le lien prévu à cet effet au sein des courriers électroniques reçus.
    Par ailleurs, les informations des Utilisateurs pourront être transmises à des tiers sans leur accord express préalable afin d'atteindre les buts suivants :
    respecter la loi
    protéger toute personne contre des dommages corporels graves, voire la mort
    lutter contre la fraude ou les atteintes portées à la Société ou à ses utilisateurs
    protéger les droits de propriété de la Société.
    <span class="cgu-title"><br>8. Protection des données<br></span>
    La Société assure un niveau de sécurité approprié et proportionnel aux risques encourus ainsi qu'à leur probabilité, conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 .
    Toutefois, ces mesures ne constituent en aucun cas une garantie et n'engagent pas la Société à une obligation de résultat concernant la sécurité des données.
    <span class="cgu-title"><br>9. Cookies<br></span>
    Pour permettre à ses Utilisateurs de bénéficier d’une navigation optimale sur l'Application et d’un meilleur fonctionnement des différentes interfaces et applications, la Société est susceptible d’implanter un cookie sur l’ordinateur de l’Utilisateur. Ce cookie permet de stocker des informations relatives à la navigation sur l'Application, ainsi qu’aux éventuelles données saisies par les Utilisateurs (notamment recherches, login, email, mot de passe).
    L’Utilisateur autorise expressément la Société à déposer sur le disque dur de l’utilisateur un fichier dit« cookie ».
    L’Utilisateur dispose de la possibilité de bloquer, modifier la durée de conservation, ou supprimer ce cookie via l’interface de son navigateur. Si la désactivation systématique des cookies sur le navigateur de l’Utilisateur l’empêche d’utiliser certains services ou fonctionnalités de l'Application, ce dysfonctionnement ne saurait en aucun cas constituer un dommage pour le membre qui ne pourra prétendre à aucune indemnité de ce fait.
    <span class="cgu-title"><br>10. Modifications<br></span>
    La Société se réserve le droit de modifier l'Application, les services qui y sont proposés, les CGU ainsi que toute procédure de livraison ou autre élément constitutif des prestations réalisées par la Société par le biais de l'Application.
    <span class="cgu-title"><br>11. Responsabilité<br></span>
    La Société ne peut en aucun cas être tenue responsable pour l’indisponibilité, qu’elle soit temporaire ou permanente de l'Application et, bien qu’elle mette en œuvre tous les moyens afin d’assurer en permanence le service, il se peut que celle-ci soit interrompue à tout moment. En outre, la Société se réserve le droit, par un acte volontaire, de rendre l'Application indisponible afin de réaliser toute opération de mise à jour, d’amélioration ou de maintenance.
    Tel que mentionné auparavant dans les présentes, la Société ne peut en aucun cas être tenue responsable des retards de réalisation d’une prestation de service pour des motifs qui échappent à son contrôle, indépendants de sa volonté, imprévisibles et irrésistibles ou dont la faute ne peut lui être imputable.
    <span class="cgu-title"><br>12. Propriété intellectuelle<br></span>
    La marque, le logo, et la charte graphique da la présente Application sont des marques déposées auprès de l'INPI et des oeuvres protégées au titre de la propriété intellectuelle, dont la propriété revient exclusivement à la Société. Toute diffusion, exploitation, représentation, reproduction, qu’elle soit partielle ou intégrale sans l’autorisation expresse de ladite société exposera le contrevenant à des poursuites civiles et pénales.
  </div>

</ion-content>
