.fond-content
{
  --background:#070E26;
}

.fond-header
{
  --background:#070E26;
}


.etoiles{
	position: fixed;
 	top: 0;
	left: 0;
 	min-width: 100%;
 	min-height: 100%;
}


.mars
{
  position: relative;
  width: 100%;
  margin: auto;
  height: 150px;  
}

.container{
  position: relative;
  top: 100%;
  margin: auto;
  width: 100%;
  height: 350px;
  transform: translateY(-35%);
}

.spirit{

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px 0 10px 0;
 
}

#lol{

    --ion-background-color:linear-gradient(180deg,  #ED765B 0%, #ED765B 100%);;
}

.carre-blanc
    {
        width:600px;
        height:300px;
        margin: 50px auto;
        background:white;
    }

ion-toolbar {
  --background: #070e26;
  --ion-color-base: #070e26 !important;
}

ion-menu-button {
  color: white;
}

<<<<<<< Updated upstream
.header-md::after{
  background-image: none;
  display: none;
}
=======
.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;

}
>>>>>>> Stashed changes
