<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </ion-toolbar>
</ion-header>

<ion-content class="fond-content">
  <img class="etoiles" src="../../assets/etoiles.svg" alt="image">
  <div class="Titre">
    <span class="spirit-titre">Spirit</span>
  </div>
  <div class="container">
    <img class="mars" src="../../assets/rover/mars.png" alt="image">
    <svg class="spirit" width="68" height="96" viewBox="0 0 68 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M67.3333 77.1667L67.3333 60.5L14.7083 27.625L34 16.75L67.3333 35.5L67.3333 18.8333L34 0.083342L0.666682 18.8333L0.666682 35.5L53.2917 68.375L34 79.25L0.666681 60.5L0.66668 77.1667L34 95.9167L67.3333 77.1667Z" fill="#6E372A"/>
    </svg>
    <ion-list id="list" color="tertiary">
      <ion-item *ngFor="let items of data">
        <div class="carre-blanc">
          <img class="photo" src="{{items.src}}" alt="image">
          <p class="infos">rover id : {{items.id}}</p>
          <div class="icons">
            <div class="left-icons">
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="chatbox-outline"></ion-icon>
            </div>
            <div class="right-icons">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="share-social-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll  threshold="1000px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

