.fond-content
{
  --background:#070E26;
}

.fond-header
{
  --background:#070E26;
}


.etoiles{
	position: fixed;
 	top: 0;
	left: 0;
 	min-width: 100%;
 	min-height: 100%;
}


.mars
{
  position: relative;
  width: 100%;
  margin: auto;
  height: 150px;  
}

.spirit-titre {
  position: absolute;
  width: auto;
  height: 500px;
  margin: auto;
  text-align: center;
  top:0;bottom:0px;left:0px;right:0px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  opacity: 0.92;


  color: #FFFFFF;

  text-shadow: 0px -3px 5px #000000;
}

.container{
  position: relative;
  top: 100%;
  margin: auto;
  width: 100%;
  height: 350px;
  transform: translateY(-35%);
  --ion-background-color:#E97058;
}

.spirit{

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px 0 10px 0;
 
}


.list-md{
  margin-top:-4px;
}

.carre-blanc
    {
        width:600px;
        height:270px;
        margin: 50px auto;
        background:white;
    }

ion-toolbar {
  --background: #070e26;
  --ion-color-base: #070e26 !important;
}

ion-menu-button {
  color: white;
}

.header-md::after{
  background-image: none;
  display: none;
}

.photo
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 7px;
      width: 95%;
      height: 77%;
    }

.infos{
  color:orangered;
  float: left;
  margin-left: 12px;
  margin-top: 2px;
}

ion-icon{
  font-size: 30px;
  margin-left: 10px;
  margin-top:10px;
  
}

.left-icons{
  float: left;
  clear: both;
  margin-top:-26px;
}

.right-icons{
  text-align: right;
  margin-right: 12px;
  margin-top: 10px;
}