<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="fond-content">
<img class="etoiles" src="../../assets/etoiles.svg" alt="image">
<div class="container">
  <img class="mars" src="../../assets/rover/mars.png" alt="image">
  <img class="spirit" src="../../assets/rover/opportunity.svg" alt="image"  width="68" height="96" viewBox="0 0 68 96" fill="none">
  <ion-button class="left-button" (click)="redirectToSpirit()">Spirit</ion-button>
  <ion-button class="right-button" (click)="redirectToCuriosity()">Curiosity</ion-button>
  <ion-list id="list" color="tertiary">
    <ion-item *ngFor="let items of data">
      <div class="carre-blanc">
        <img class="photo" src="{{items.src}}" alt="image">
        <p class="infos">rover id : {{items.id}}</p>
        <div class="icons">
          <div class="left-icons">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-icon name="chatbox-outline"></ion-icon>
          </div>
          <div class="right-icons">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="share-social-outline"></ion-icon>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</div>
<ion-infinite-scroll  threshold="1000px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
  loadingSpinner="bubbles"
  loadingText="Loading more data...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
