#title {
    color: #BF4539;
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

ion-toolbar {
    text-align: center;
    border-bottom: none;
}

ion-back-button {
    --color: #BF4539;
}

.header-md:after
{
  background-image: none;
}

#cgu {
    font-size: 14px;
    line-height: 21px;
    margin-top: 8vh;
    padding: 0px 20px;
    margin-bottom: 2vh;
}

.cgu-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
