<ion-header>

</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="../../assets/icon/orange/chevron_left_24px_outlined-2.svg" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
            <span id="title">Param&egrave;tres</span>
        </ion-title>
      </ion-toolbar>
    Notifications
    <ion-list>
        <ion-item>
          <ion-label>Spirit</ion-label>
          <ion-toggle [(ngModel)]="spirit"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Curiosity</ion-label>
          <ion-toggle [(ngModel)]="curiosity"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Opportunity</ion-label>
          <ion-toggle [(ngModel)]="opportunity"></ion-toggle>
        </ion-item>
      </ion-list>
    <br>
    Performance
    <ion-list>
        <ion-item>
            <ion-label>Animations</ion-label>
            <ion-toggle [(ngModel)]="animations"></ion-toggle>
        </ion-item>
    </ion-list>
    
  <h2>Entrer un pseudonyme</h2>
  <ion-input></ion-input>
  <h2>S&eacute;lectionner un profil</h2>
  
 <ion-list class="list-avatar">
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
    </ion-list>
<ion-list class="list-avatar">
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
    </ion-list>


  <h2>S&eacute;lectionner une langue</h2>
<ion-list class="list-drapeau">
 <img class=drapeau src="../../assets/francais.png" alt="image">
 <img class=drapeau src="../../assets/anglais.png" alt="image">
</ion-list>
   <ion-tab-button id="cgu" tab="cgu" [routerLink]="['../a-propos']">Conditions g&eacute;n&eacute;rale d&apos;utilisation</ion-tab-button>
   <ion-tab-button id="suppr">Supprimer le compte</ion-tab-button>
</ion-content>