ion-title {
    text-align: center;
}

ion-content {
    margin-left:40px;
}

ion-input {
    border: 1px solid;
    border-radius:8px;
}

.list-avatar {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.list-drapeau {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.list-profil {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.profil {
	width: 40px;
    height: 40px;
    border-radius: 20px;
	border: 1px solid;
}


.drapeau{
	width: 75px;
	height: 50px;
	background: green;
	}
	
	
#cgu{
	text-align: center;
}

#suppr{
	text-align: center;
}

#title {
    color: #BF4539;
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

ion-tab-button {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 5vh;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2vh;
}